@import "../../sass/main.scss";

.container__home {
    background-color: #ADD8E6;
    min-height: 100vh;
    @include flexJustifyCenterAlignCenter;
}


//scss for all form 
.container__step {
    @include flexAlignCenter;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 25rem;
    height: 26.1rem;
    padding: 1.5rem;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
    
    &__form {
        display: flex;
        flex-direction: column;
        width: 75%;
        & > input {
            width: 100%;
           @include input-form;
        }

        & > label {
            @include label-form;
        }

        &__cityStreet {
            display: flex;
            width: 100%;
            & > div {
                &:first-child {
                    margin-right: 2rem;
                    width: 100%;
                }
                &:last-child {
                    width: 100%;
                }
                display: flex;
                flex-direction: column;

                & > input {
                   width: 100%;
                   @include input-form;
                }

                & > label {
                    @include label-form;
                }
            }
        }
        &--button {
            height: 2rem;
            font-size: 1.2rem;
            margin-top: 1rem;
            border-radius: 5px;
            border: 1px solid black;
            margin-bottom: 0.4rem;
        }
    }
}