@mixin input-form {
    margin-bottom: 1rem;
    height: 1.2rem;
}

@mixin label-form {
    font-weight: 500;
    margin-bottom: 0.2rem;
}



//FLEXBOX MIXIN
@mixin flexJustifyCenterAlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexAlignCenter {
    display: flex;
    align-items: center;
}

@mixin flexJustifyCenter {
    display: flex;
    justify-content: center;
}